body {
  background-color: #212121;
  color: white;
}

md-card {
	font-family: 'Bungee', cursive;	
}

md-card.station {
	font-size: 18px;
}

md-card.station md-card-title {
    padding: 5px 16px 5px;
}

md-list-item{
	line-height: 20px;
}

.station md-card-title-text {
	font-size:20px !important;
}

.station md-card-content p {
	font-size: 20px;
	margin:0px;
	padding:0px;
}

.station md-list-item, md-list-item .md-list-item-inner {
    min-height: 20px;
    height: 25px;
}