body {
  background-color: #212121;
  color: white;
}

md-toolbar{
	padding: 10px 0px 5px;
}

md-card {
	font-family: 'Bungee', cursive;
	font-size: 18px;
}

md-card md-card-title {
    padding: 0px 16px 0px;
}


md-card-title-text {
	font-size:20px !important;
}

md-card-content p {
	font-size: 20px;
	margin:0px;
	padding:0px;
}

md-list-item, md-list-item .md-list-item-inner {
    min-height: 20px;
    height: 25px;
}